RewriteEngine on
#内容页
RewriteRule ^content-([0-9]+)-([0-9]+)-([0-9]+).html index.php?m=mobile&c=index&a=show&catid=$1&id=$2&page=$3
RewriteRule ^show-([0-9]+)-([0-9]+)-([0-9]+).html index.php?m=mobile&c=index&a=show&catid=$1&id=$2&page=$3
#栏目页
RewriteRule ^list-([0-9]+)-([0-9]+).html index.php?m=mobile&c=index&a=lists&catid=$1&page=$2

#内容页
#RewriteRule ^html/show-([0-9A-Za-z_/]*)-([0-9]+)-([0-9]+).html index.php?m=mobile&c=index&a=show&categorydir=$1&id=$2&page=$3
#RewriteRule ^html/show-([0-9A-Za-z_/]*)-([0-9]+).html index.php?m=mobile&c=index&a=show&categorydir=$1&id=$2
#RewriteRule ^html/show-([0-9A-Za-z_/]*)-([0-9]+)-([0-9]+).html index.php?m=mobile&c=index&a=show&catdir=$1&id=$2&page=$3
#RewriteRule ^html/show-([0-9A-Za-z_/]*)-([0-9]+).html index.php?m=mobile&c=index&a=show&catdir=$1&id=$2
#栏目页
#RewriteRule ^html/list-([0-9A-Za-z_/]*)-([0-9]+).html index.php?m=mobile&c=index&a=lists&categorydir=$1&page=$2
#RewriteRule ^html/list-([0-9A-Za-z_/]*).html index.php?m=mobile&c=index&a=lists&categorydir=$1
#RewriteRule ^html/list-([0-9A-Za-z_/]*)-([0-9]+).html index.php?m=mobile&c=index&a=lists&catdir=$1&page=$2
#RewriteRule ^html/list-([0-9A-Za-z_/]*).html index.php?m=mobile&c=index&a=lists&catdir=$1
#搜索页
#RewriteRule ^search-([0-9]+)-([0-9]+)-([0-9A-Za-z_/]*)-([0-9]+).html index.php?m=search&c=index&a=init&typeid=$1&siteid=$2&q=$3&page=$2
#RewriteRule ^search-([0-9]+)-([0-9]+)-([0-9A-Za-z_/]*).html index.php?m=search&c=index&a=init&typeid=$1&siteid=$2&q=$3
#RewriteRule ^search.html index.php?m=search