body {padding: 0!important;margin: 0!important;overflow-x: hidden;background-color: #f5f6f8;}
*,*:before,*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:focus {outline:none}

#canvas {position: absolute;display: flex !important;width: 100%;min-height: 100vh;align-items: center !important;justify-content: center !important;z-index: -1;}
.row {margin-right: -15px;margin-left: -15px;}
.container-wrapper {position: relative;background-size: cover;background-position: center center;}
.container-login {display: flex !important;min-height: 100vh;align-items: center !important;justify-content: center !important;}
.container-login:after{content: '';min-height: inherit;font-size: 0;}
.login-center {background: #fff;min-width: 29.25rem;padding: 2.14286em 3.57143em;margin: 2.85714em;border-radius: 10px; box-shadow:0 -15px 30px #293846;}
.login-header {margin-bottom: 1.5rem !important;color: #2f4050;}
.login-header h1 {font-size: 20px;line-height: 40px;font-weight:bold;}
.login-header em {font-weight: bold;}
.text-center {text-align: center;}
.login-center .has-feedback.feedback-left .form-control {padding-left: 38px;padding-right: 12px;}
.login-center .has-feedback.feedback-left .form-control-feedback {left: 0;right: auto;width: 38px;height: 38px;line-height: 38px;z-index: 4;color: #dcdcdc;}
.login-center .has-feedback.feedback-left.row .form-control-feedback {left: 15px;}
.has-feedback {position: relative;}
.form-group {margin-bottom: 15px;}
.form-group .icon {display: inline-block;width: 16px;height: 16px;position: absolute;top: 10px;right: 10px;cursor: pointer;font-size: 16px;color: rgba(0,0,0,0.45);}
.form-group .captcha {position: absolute;right: 1px;top: 1px; border-left: 1px solid #e6e6e6;}
.form-group .captcha img {height: 36px;cursor: pointer;}
.form-control {height: 38px;border-color: #ebebeb;-webkit-border-radius: 2px;border-radius: 2px;padding: 5px 12px;line-height: inherit;-webkit-transition: 0.2s linear;transition: 0.2s linear;-webkit-box-shadow: none;box-shadow: none;}
.form-control:hover{border-color:#D2D2D2!important;}.form-control:focus{border-color:#C9C9C9!important;box-shadow: none;}
.btn {color: #8b95a5;padding: 8px 12px;letter-spacing: 1px;border-radius: 2px;background-color: #fff;outline: none !important;-webkit-transition: 0.15s linear;transition: 0.15s linear;}
.btn-primary {background-color: #009688;border-color: #009688;color: #fff!important;}
.btn-primary:hover {opacity: .8;background-color: #009688;border-color: #009688;}
.btn-primary:focus,.btn-primary.focus,.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary {background-color: #009688!important;border-color: #009688!important;}
.btn-primary.disabled,.btn-primary:disabled {background-color: #009688;border-color: #009688;}
.btn-primary:not([disabled]):not(.disabled).active,.btn-primary:not([disabled]):not(.disabled):active,.show>.btn-primary.dropdown-toggle {background-color: #2ba99d!important;border-color: #2ba99d!important;-webkit-box-shadow: none;box-shadow: none;}
.btn-primary.disabled.focus,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled].focus,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover {background-color: #009688;border-color: #009688;}
.btn.btn-light {display:inline-block;font-weight:500;line-height:1.5;color:#181c32;text-align:center;vertical-align:middle;cursor:pointer;user-select:none;background-color:transparent;border:1px solid transparent;padding:.75rem 1.5rem;font-size:20px;border-radius:.475rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;color: #7e8299;border-color: #f5f8fa;background-color: #f5f8fa;}
.m-b-0 {color: #2f4050;margin-top: 5px;margin-bottom: 0px!important;}

.swal2-icon {font-size:14px;}
.swal2-popup .swal2-html-container,.swal2-popup .swal2-content {font-size:20px!important;}
.indicator-progress {display:none}
[data-kt-indicator=on]>.indicator-progress {display:inline-block}
[data-kt-indicator=on]>.indicator-label {display:none}
@keyframes spinner-border {
    to {
        transform:rotate(360deg)
    }
}
.spinner-border {display:inline-block; width:2rem; height:2rem; vertical-align:-.125em; border:.185em solid currentColor; border-right-color:transparent; border-radius:50%; animation:.65s linear infinite spinner-border}
.spinner-border-sm {width:1rem;height:1rem;border-width:.145em}
@media (prefers-reduced-motion:reduce) {
    .spinner-border,.spinner-grow {
        animation-duration:1.3s
    }
}
.align-middle {vertical-align:middle!important}
.ms-2 {margin-left:.5rem!important}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {cursor: pointer;}
.btn {outline: 0!important;}
@media screen and (max-width: 750px){
	.m-b-0 span{display: none;}
	.login-center{padding: 15px;}
}